<?xml version="1.0" encoding="UTF-8"?>
 <settings>
    <zookeeper>
    	<zooip>snf-815309.vm.okeanos.grnet.gr:2181</zooip>
    	<zooip>snf-821392.vm.okeanos.grnet.gr:2181</zooip>
    	<zooip>snf-821393.vm.okeanos.grnet.gr:2181</zooip>
    	<dirservicepath>/DirServices</dirservicepath>
    	<authservicepath>/AuthServices</authservicepath>
    	<webservicepath>/WebServices</webservicepath>
    	<zoouser>savvas</zoouser>
    	<zoopass>savvas</zoopass>
    </zookeeper>
    <name>webinterface</name>
    <hostname>https://snf-821392.vm.okeanos.grnet.gr:8443/webinterface</hostname>
  </settings>
